NODE_ENV=development
PORT=5000
HOST=http://localhost

JWT_SECRET=your_jwt_secret_here

DATABASE_URL=postgres://postgres:postgres@localhost:5432/employment_application_website
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=employment_application_website

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_FOLDER=employment-applications

NODEMAILER_USERNAME=your_email@example.com
NODEMAILER_PASSWORD=your_app_password
